/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img, picture, video, canvas, span {
  display: block;
  max-width: 100%;
}

/* VARIÁVEIS */
:root {
  /* FUNDOS */
  --bg-principal: #1f1f1f;
  --bg-secundario: #2a2a2a;

  /* OUROS */
  --ouro-solido: linear-gradient(
  135deg,
  #f5e6a5,
  #d4af37,
  #b8962e
  );

  --ouro-linha: linear-gradient(
  90deg,
  transparent,
  #d4af37 10%,
  #fff4b8,
  #d4af37 90%,
  transparent
  );

  --texto: #eaeaea;
}

html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
}
.conteudo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cabecalho {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-weight: 700;
box-shadow:
  0 2px 4px rgba(0,0,0,0.18),
  0 8px 16px rgba(0,0,0,0.28);
}
.logo {
  font-size: 1.3rem;
}
.cabecalho > span {
  font-size: 1.2rwm;
}
h1 {
  font-size: 1.2rem;
}
.ld-esquerdo {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.ld-direito {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bt-icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-config {
  background-image: url("imagens/engrenagem.svg");
}
.icon-perfil {
  background-image: url("imagens/perfil.svg");
}
.rodape {
  position: sticky;
  border-top: 1px solid black;
  box-shadow:
  0 -2px 6px rgba(0,0,0,0.12),
  0 -8px 20px rgba(0,0,0,0.18);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.9rem;
}
.bt {
  background-color: transparent;
  cursor: pointer;
  width: 116px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  
}

.principal {
  flex: 1;
}

.icon {
  width: 16px;
  height: 16px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  display: inline-block;
}

.icon-salvar {
  background-image: url("imagens/salvar.svg");
}
.icon-download {
  background-image: url("imagens/download.svg");
}
.icon-upload {
  background-image: url("imagens/upload.svg");
}
.bt > div {
  display: flex;
  align-items: center;
  
}
.caixa-icon {
  padding: 0 8px;
  height: 100%;
  border: 1px solid black;
  border-right: none;
  justify-content: center;
  border-radius: 5px 0 0 5px;
}

.caixa-txt {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  justify-content: flex-start;
  padding-left: 8px;
  border-radius: 0 5px 5px 0;
}

