/** RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
span {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  position: fixed;
}

.tema-claro {
  background-color: #fff;
  color: #0d1117;
}

.tema-escuro {
  background-color: #0d1117;
  color: #f0f6fc;
}

.conteudo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cabecalho {
  width: 100%;
  border-bottom: 1px solid transparent;

  border-image:
    linear-gradient(90deg,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 5%,
      rgba(0, 0, 0, 0.6) 40%,
      #000 50%,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0.2) 95%,
      transparent 100%) 1;
  box-shadow:
    0 8px 18px -12px rgba(0, 0, 0, 0.9);
  padding: 5px 10px;
  display: flex;

}

.lado-esquerdo {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.lado-direito {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.rodape {
  width: 100%;

  border-top: 1px solid transparent;

  border-image:
    linear-gradient(90deg,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 5%,
      rgba(0, 0, 0, 0.6) 40%,
      #000 50%,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0.2) 95%,
      transparent 100%) 1;
  box-shadow:
    0 -8px 18px -12px rgba(0, 0, 0, 0.9);
  padding: 5px;
  text-align: center;
}

.principal {
  flex: 1;
  width: 95%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartao {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.barra-titulo-cartao {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  padding: 5px 10px;
}


.icone-cartao, .caixa-icone {}

.nome-cartao {}



.corpo-cartao {
  padding: 10px 0;
  border: 1px solid black;
  border-radius: 0 0 3px 3px ;
  padding: 5px 10px;
}